* {

    color: #333;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    font-size: 100%;
}

img {

    max-width: 100%;
}

header {

    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 33.75rem;
}

header nav {

    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    width: 100%;
    z-index: 999;
}

header nav ul {

    list-style-type: none;
    text-align: right;
}

header nav ul li {

    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease-out;
    padding: 1.041666667%;
    text-align: center;
    width: 12.5%
}

header nav ul li:hover {

    background-color: lightgrey;
}

header h1 {

    font-size: 3rem;
    padding: 0 3rem;
    position: relative;
    text-align: left;
    top: 8rem;
}

main {

    box-shadow: 0 -2px 3px -1px rgba(0, 0, 0, 0.25);
    padding: 0 1em;
}

main section {

    padding: 3rem 0;
}

.row {

    overflow: hidden;
}

.row .column {

    float: left;
    padding: 0 1.041666666666667%; 
    text-align: center;
    width: 33.333333333333333%;
}

.row .column h2 {

    font-size: 1.5rem;
}

.row .column img {

    border-radius: 50%;
    margin: 2rem 0;
}

.row .column p {

    line-height: 1.5;
    margin: 0 auto;
    max-width: 25em;
    text-align: left;
}
